# Discord Bot Token
DISCORD_BOT_TOKEN=your_token_here
DISCORD_BOT_TOKEN_DEBUG=your_debug_token_here

# Database URL
DATABASE_URL=postgresql://postgres:80013002@db:5432/logerbot_db

# Panel Security
# ЭТОТ КЛЮЧ НУЖЕН ДЛЯ ДОСТУПА К ПАНЕЛИ С ТВОЕГО ПК
PANEL_MASTER_KEY=change_this_to_something_very_long_and_random

# AI Keys
GOOGLE_API_KEY=your_gemini_key
OPENROUTER_API_KEY=your_openrouter_key
AZURE_SPEECH_KEY=your_azure_key
AZURE_SPEECH_REGION=westeurope
